
nav .Hummenu i{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.mobile-socialicon{
display: none;
}


#cancel{
  display: none;
}
.Mobile_view{
display: none;
}


@media screen and (max-width:550px){



html,body{


  width: 100%;
  overflow-x: hidden;
}
 
  nav{
     position: fixed;
      z-index: 120;
      background-color: #524D4D;
      width: 100vw;
      top: 0px;
  }
  form.active{
     top: 345px;
    opacity: 1;
    z-index: 1234;
    transform: translate(-50% , -50%) scale(1);
    width: 100%;
    left: 160px;
    border-radius: 0px;
}


form{
  left: 100px;
}
.form_box{
  padding: 20px;
}
#email{
  width:270px;
}
#name{
  width:270px;
}
#number{
  width:270px;
}
#form_btn_bottom{
  margin-left: -127px;
  gap: 58px;
}
  

.navbarimage{
  height: 45px;
  width: 45px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.nav_li {
  flex-direction: column;
  position: absolute;
  left: -384.8px;
  top: 79.5px;
  width: 71%;
  height: 35vh;
  background-color: black;
  transform: translateX(100%);
  transition: all 0.5s linear;
  opacity: 0;
  z-index: 20;
  gap: 10px;
}
.nav_btn{
  display: block;
  background: orange;
  border:#524D4D;
  margin-left: 45px;
  /* margin-top: 5px; */
 
  font-family: poppins;
  font-size: 20px;
   

  border: 2px solid;



}
.nav_li.active{
  opacity: 1;
  transform: translateX(0); 


}


.nav_li a{
  color: white;
  position: relative;
  top: -10px;
  left: 0px;
  font-size: 15px;

 
}

#Hummenu{
color: orange;
font-size: 25px;
cursor: pointer;
display: block;
position: absolute;
top: 30px;
left: 280px;
}
#Hummenu.active{
color: orange;
font-size: 25px;
cursor: pointer;
display: block;
position: absolute;
top: 30px;
left: 280px;
}



#cancel{
  display:none;
  border: 1px solid;
  padding: 5px;
  position: absolute;
  left: 280px;
  
}
#cancel.active{
  display: block;
background-color: orange;
  border: 1px solid white;
  padding: 5px;

}


 #scrolling{
  overflow-y: scroll;
 }

 .product_heading_img{
   
  height: 850px;
  width: 100%;
  z-index: 10;

 }
 .product_content{
  text-decoration: underline;
    
    font-size: 20PX;
    width: 236px;
    display: flex;
    justify-content: center;
    left: 10px;
    top: 55px;
    right: 0px;
    bottom: 0px;
    margin-left: 40px;
 }
 #product_hr{
    display: none;
 }
 #product_background-img{
    height: 100%;
 }
 .img_product{
  margin-top: 10px;
    width: 175px;
    height: 175px;
 }
 .nutrain_btn{
    width: 100px;
    height: 35px;
    font-size: 10px;
    margin: auto;
    margin-bottom:10px ;
 }
 .product_flex{
   
    flex-direction: column;
    height: 500px;
    right: 60px; 
    bottom: 0px;
    top: 100px;
   align-items: center;
    
   align-content: space-evenly;
    gap:10px;
   margin-bottom: 25px;

}
.img_btn{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img_btn img{
  display: flex;
  flex-direction: column;
  align-content: space-around;
   
}

 



#weights_hr {
    display: none;
}
.weight_content{
  text-decoration: underline;
  top: 60px;
    left: 60px;
    right: 0px;
    bottom: 0px;
    width: 300px;
    font-size: 20px;
    height: 0px;
}


 
.weight_machine_img{
  margin-top: 3px;
    width: 200px;
    height: 200px;
     
}
.weight_machine_btn{
    width: 100px;
    height: 35px;
    font-size: 10px;
    margin: auto;
    margin-bottom: -15px;
}
.weight_machine_excersize {
    flex-direction: column;
    align-items: center;
    left: 0px;
    top: 120px;
    right: 0px;
    margin-bottom: 20px;
    gap: 30px;
     
}
.weigth_machine_flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.clothes_img{
    height: 955px;
    padding-bottom: 5px;
}
.Apparel_content{
  text-decoration: underline;
  margin-top: -20px;
    left: 15px;
    right: 0px;
    bottom: 0px;
    width: 300px;
    text-align: center;
     align-content: auto;
    font-size: 20px;
    height: 0px;
}
#Apparel_hr{
    display: none;
}
.apparel_marchandies_img {
  
    width: 200px;
    height: 200px;
}
.apparel_marchsndies_btn{
    width: 100px;
    height: 35px;
    font-size: 10px;
    margin: auto;
}
.apparel_merchandies_excersize{
    flex-direction: column;
    align-items: center;
    left: 0px;
    top: 120px;
    right: 0px;
    bottom: 30px;
    gap: 20px;
}
.Apparel_flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}
.Apparel_img{
  margin-top: -20px;
  margin-right:-11px;
  /* padding-right:0px ; */
   /* display: flex; */
   padding-top:-60px;
    height: 960px;
    
}
footer{
  margin-top: -5px;
  height: 600px;
}
.left{
  top: 20px;
  left: -35px;
  height: 0px;
  width: auto;
}


#img_footer{
  margin-left: 80px;
  height: auto;
}
.right p{
  font-size: 25px;
  height: 0px;
  margin-bottom: 45px;
  margin-left: 110px;
  font-weight: 700;
  color: #FFA500 ;
  font-family: poppins;
}
.right{
  width: 350px;
  top: 350px;
  right: 0px;
}
.btn_abs{
  top: 10px;
  left: 50px;
  width: 85px;
}
.btn_abs1{
  display: none;
}
.btn_box{
  left: 52px;
  top: 25px;
  width: 85px;

}
.btn_workout{
  left: 65px;
  top: 10px;
  width: 85px;
}
.btn_nutritions{
  top: 10px;
  left: 75px;
  width: 85px;
}
.btn_trainer{
  top: 25px;
  left: 65px;
  width: 85px;
}
.btn_facility{
  top: 25px;
  left: 75px;
  width: 85px;
}
.hr_right{
  display: none;
}
.center{
  display: none;
}
.left_content{
  margin-left: 85px;
  font-size: 20px;
  width: 255px;
  color: #FFA500;
  left: 40px;
  margin-bottom: 0px;
}
.Popular_p{
  margin-left: 25px;
  margin-bottom: 30px;
}
 .Mobile_view{
  display: block;
  display: flex;
  position: absolute;
  color: #fff;
  margin-top: -125px;
  margin-left: -40px;

 
}
.m_about{
  margin-top: -300px;
  margin-left: 100px;
  font-size: 15px;
}
.m_contact{
  margin-top: -250px;
  margin-left: -40px;
  font-size: 15px;
}
.m_careers{
  margin-top: -200px;
  margin-left: -50px;
  font-size: 15px;
}
.m_membership{
  margin-top: -300px;
  margin-left: 65px;
  font-size: 15px;
}
.m_customer_service{
  margin-top: -250px;
  margin-left: -90px;
  font-size: 15px;
} 
.mobile-socialicon{
  position: absolute;
  margin-top: -70px;
  gap: 40px;
  display: flex;
  margin-left: 100px;
  /* margin-right: 50px; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.copy_right{
  font-size: 15px;
}

}